body{
    background-color: rgb(214, 226, 226);
    color: darkblue;
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
 text-align: center;
 background-color: gainsboro;
}
p{
    text-align: justify;
    text-indent: 8ch;
}

p::first-letter {
    font-size: 120%;
    color: blueviolet;
}
section:hover {
    background-color: white;
}
h3,
h4 {
    color: crimson;
}
h1 {
    color: black;
    background-color: white;
    font-size: 30px;
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 100px;
    margin: 50px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 63%;
    left:27%;
    transform: translate(-50%, -50%);
}
a {
    color: white;
    font-size: 50px;
    text-decoration: none;
}
h2 {
    color: white;
    font-size: 50px;
}
h4 {
    color: black;
}
.container1 {
    position: relative;
    text-align: center;
    background-color: orange;
}
.centered1 {
    position: absolute;
    top: 63%;
    left:27%;
    transform: translate(-50%, -50%);
}